<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default Error page! </title>
</head>
<body>
<h1>  Error Occured! </h1>
<table border="1">
    <tr>
        <th>Name</th>

        <th>value </th>

    </tr>
    <tr>
        <td>TimeStamp</td>
        <td>[[${timestamp}]]</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>[[${status}]]</td>
    </tr>
    <tr>
        <td>Error</td>
        <td>[[${error}]]</td>
    </tr>
    <tr>
        <td>Path</td>
        <td>[[${path}]]</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>[[${message}]]</td>
    </tr>
    <tr>
        <td>Trace</td>
        <td>[[${trace}]]</td>
    </tr>

</table>
</body>
</html>